extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Justin Hartzog

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
          | I started College off as an Electrical Engineer and thought I was in the correct career choice for me. I was required to take Computer Science classes as a part of my course and soon discovered that my passion was not for Electrical Engineering but instead I had a passion for programming. now I'm on my way to fulfill my dream of becoming a Fullstack Javascript Developer!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS
          li Express
          li Node.js
          li Json
          li JQuery
          li React
          li SQL
        h6 Contact Info

        ul
          li 970-581-8801
          li justin.hartzog01@gmail.com

        a.button.expanded(href='https://www.facebook.com/elder.justinhartzog?ref=bookmarks') Facebook
        a.button.expanded(href='https://github.com/JustinHartzog') GitHub
        a.button.expanded(href='https://www.instagram.com/justin_one01/?hl=en') Instagram
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
